SECRET_KEY=your-secret-key-here
DEBUG=True

# --- Tokens JWT ---
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7

# --- Segurança / Deploy ---
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
SECURE_SSL_REDIRECT=False

# --- Banco de Dados (PostgreSQL) ---
DB_NAME=dev_imortal
DB_USER=postgres
DB_PASSWORD=your-db-password-here
DB_HOST=localhost
DB_PORT=5432