# ==========================================
# BOILERPLATE DEV-IMORTAL 
# Chaves Globais de Configuração Base
# ==========================================

# ----------------- BACKEND ----------------
SECRET_KEY=django-insecure-your-secret-key-here-dev-imortal
DEBUG=True

# --- Tokens JWT ---
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7

# --- Segurança / Deploy ---
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
SECURE_SSL_REDIRECT=False

# --- Banco de Dados (PostgreSQL) ---
DB_NAME=dev_imortal
DB_USER=postgres
DB_PASSWORD=secret_imortal_pwd
DB_HOST=localhost
DB_PORT=5432

# ---------------- FRONTEND -----------------
# Estas chaves são as que o Next.js lerá do seu próprio diretório após o script setup
NEXT_PUBLIC_API_URL=http://localhost:8000/api
